<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Serilog" version="1.4.204" targetFramework="net45" />
  <package id="Serilog.Extras.Topshelf" version="1.4.204" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="1.4.168" targetFramework="net45" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" />
</packages>