[Oo]bj/
[Bb]in/
TestResults/
.nuget/
pack-output/
_ReSharper.*/
/packages
.vs/
_data/
.vs/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
/*.vspx
*.metaproj*
dist/
node_modules/