@inject ILocalClient _client 
@page "/"

<div id="welcome">
    <h1>Dream</h1>
    <form @onsubmit="SendInstallVersionAsync" @onsubmit:preventDefault>
        <button type="submit">Install version 20.10.2</button>
    </form>
</div>

@code {
    Task SendInstallVersionAsync() =>
        _client.SendAsync(new StartInstallation(), CancellationToken.None);
}