<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="totem.runtime" type="Totem.Runtime.Configuration.RuntimeSection, Totem.Runtime" />
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	
	<totem.runtime dataFolder="..\..\_torque.data">
		<log level="Verbose" dataFolder="Logs" />
	</totem.runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>