<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="totem.runtime" type="Totem.Runtime.Configuration.RuntimeSection, Totem.Runtime" />
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	
	<totem.runtime dataFolder="..\..\_torque.data">
		<log level="Verbose" dataFolder="Logs" />
	</totem.runtime>
</configuration>